@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    /* border: dotted 1px black; */
}

.div--container{
    margin-top: 50px;
}

.col--products{
    text-align: center;
}

h2{
    margin-bottom: 60px;
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: bold;
}

.p--products{
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-size: 18px;
}

.btn--crud{
    background: #fff;
    padding: 5px;
    box-shadow: 5px 5px 3px black ;
    border: #000 1px solid;
}

hr{
    margin: 35px 10px;
    line-height: 5px;
}

.div--nombreProducto{
    margin: 20px 0;
}